page-cadastro {
  .navBar{
    background-color: #3b5998 !important;
    color: #fff !important;
  }

  .item-md.item-input.input-has-focus .item-inner {
    border-bottom-color: #3b5998 !important;
    box-shadow: inset 0 -1px 0 0 #3b5998 !important;
  }

  .item-md{
    color: #000 !important;
  }
}
