page-modal-produto {

  .float-right{
    float:right !important;
  }

  .card-md{
      background: #fff !important;
  }

  .ion-card {
    background-color: #fff !important;
  }

  .item-md{
    color:#000;
  }

  [padding], [padding] .scroll-content {
    padding: 2px !important;
  }
}
