<ion-header>
  <ion-navbar color="azul">
    <ion-title>Decoville Locações</ion-title>
    <ion-buttons start (click)="abrirPopover($event)">
      <button ion-button icon-only>
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding color="branco" >
  <ion-list>
    <ion-item class="button-inner-select" >
      <ion-label class="margin-left-label"><b>Categoria:</b></ion-label>
      <ion-select [(ngModel)]="categoriaSelecionada" cancelText="Cancelar" (ionChange)="alteraCategoria($event)">
        <ion-option value="Tudo" selected="true">Tudo</ion-option>
        <ion-option  *ngFor="let cat of categorias" value="{{cat.id_categoria}}">{{cat.nome}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-searchbar (ionInput)="pesquisa($event)" placeholder="Pesquisa"></ion-searchbar>
  <hr>
  <br />
  <ion-list>
    <button ion-item *ngFor="let item of produtos" (click)="itemSelecionado(item)">
      <h6 text-capitalize>{{ item.lower }}</h6>
    </button>
  </ion-list>
</ion-content>
