page-orcamento {
  .content-md{
    background-color: #fff !important;
  }

  .item-md{
    background-color: #fff !important;
    color: #000 !important;
    padding-left: 0px !important;
  }

  .alinha-centro{
    text-align: center !important;
  }
}
