page-contact {
  .content-md {
    color: #000 !important;
    background-color: #fff !important;
  }

  .item-md{
    background-color: #fff !important;
    color: #000 !important;
    padding-left: 0px !important;
  }

  .list-md {
    padding: 16px !important;
  }
}
