escolhe-orcamento-produtos {
 .content-md{
    background-color: #fff !important;
    color:#000 !important;
  }

  .item-md{
    background-color: #fff !important;
    color: #000 !important;
    padding-left: 0px !important;
  }

  .picker-md .picker-wrapper {
    border-top: 0.55px solid #fff !important;
    background: #fff !important;
  }

  .picker-md .picker-toolbar {
    background: #fff !important;
  }

  .margin-left-label{
    margin-left: 22px !important;
  }

  .button-inner-select{
    border-radius: 2px !important;
    border: 0.2px solid #dedede !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
  }

  .searchbar-md{
    padding: 0px;
  }
}
