page-orcamento-produtos {
 .content-md{
    background-color: #fff !important;
    color:#000 !important;
  }

  .item-md{
    background-color: #fff !important;
    color: #000 !important;
    padding-left: 0px !important;
  }

  .picker-md .picker-wrapper {
    border-top: 0.55px solid #fff !important;
    background: #fff !important;
  }

  .picker-md .picker-toolbar {
    background: #fff !important;
  }

  .fonte{
    font-size: large !important;
  }

  .list-header-md{
      margin-bottom: 0px !important;
  }

  ion-grid{
    padding: 0px !important;
  }

  b{
    float: left;
  }

  .datetime-md{
    float: left;
    padding: 0px;
  }

  .bar-buttons-md {
    max-width: 30px;
    float: left;
  }

  ion-title{
    height: 32px;
  }

  .botao{
    max-width: 110px !important;
  }
}
