page-orcamento-produtos {
 .content-md{
    background-color: #fff !important;
    color:#000 !important;
  }

  .item-md{
    background-color: #fff !important;
    color: #000 !important;
    padding-left: 0px !important;
  }

  .picker-md .picker-wrapper {
    border-top: 0.55px solid #fff !important;
    background: #fff !important;
  }

  .picker-md .picker-toolbar {
    background: #fff !important;
  }

  .fonte{

  }
}
