page-modal-novo-orcamento {
  .content-md{
    color: #000 !important;
    background-color: #fff !important;
  }

  .item-md{
    color: #000 !important;
    background-color: #fff !important;
  }

  .picker-md .picker-wrapper {
    border-top: 0.55px solid #fff !important;
    background: #fff !important;
  }

  .picker-md .picker-toolbar {
    background: #fff !important;
  }
}
