page-modal-novo-orcamento {
  .content-md{
    color: #000 !important;
    background-color: #fff !important;
  }

  .item-md{
    color: #000 !important;
    background-color: #fff !important;
  }
}
