popover-component{

.popover-md .popover-content {
  color: #000 !important;
  background: #fff !important;
}

.item-md{
  color: #000 !important;
  background-color: #fff !important;
}

.ion-page-show-page{
  opacity: 0.5 !important;
}

.popover-viewport{
  background: #fff !important;
}
}
